<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>{{user['first_name']}} {{user['last_name']}}'s Profile</title>
</head>
<body>
    <h1 class="mx-auto text-center">Welcome {{user['first_name']}} {{user['last_name']}}!</h1>
    <div class="text-center mx-auto text-white bg-dark p-5 col-5">
        <p>Email: {{user['email']}}</p>
        <p>Created: {{user['created_at'].strftime("%b %d, %Y at %I:%M %p")}}</p>
        <p>Last Updated: {{user['updated_at'].strftime("%b %d, %Y at %I:%M %p")}}</p>
        <a href="/users/{{user.id}}/edit">Edit</a>
        <a href="/users/{{user.id}}/delete">Delete</a>
        <a href="/">Back to Dashboard</a>
    </div>

</body>
</html>