<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Profile</title>
</head>
<nav class="d-flex justify-content-around text-bg-dark text-white pt-2">
    <h1>All Posted Recipes</h1>
    <div class="d-flex justify-content-between gap-4">
        <h2>Welcome, {{user.first_name}}!</h2>
        <a href='/recipe/create'>
            <button class="btn btn-success">Create New Recipe</button>
        </a>
        <a href='/users/logout'>
            <button class="btn btn-danger">Logout</button>
        </a>
    </div>
</nav>
<body>
    <div class="mx-auto mt-5 w-75">
        <table class="table table-dark table-striped">
            <thead>
                <tr class="text-warning">
                    <th scope="col">Name</th>
                    <th scope="col">Under 30</th>
                    <th scope="col">Posted By</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for row in recipes %}
                    <tr>
                        <th scope="row">{{row.name}}</th>
                        <td>{{row.under30}}</td>
                        <td>{{row.chef.first_name}}</td>
                        <td><a href="/recipe/{{row.id}}">View</a>
                        {% if row.user_id == session['user_id'] %}
                            <a href="/recipe/{{row.id}}/edit">Edit</a>
                            <a href="/recipe/{{row.id}}/delete">Delete</a>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>